
.img-content{

	width: 750px;
	height: 270px; 
	border: thick solid #FFFFFF;
	overflow: hidden; 
	position: relative; 
}

.img-content > img{

	position: absolute;
	width: 100%;
}


.slide-content-admin{

	width: 280px;
	height: 160px; 
	border: thick solid #FFFFFF;
	overflow: hidden; 
	position: relative; 
}

.slide-content-admin > img{

	position: absolute;
	width: 100%;
}